/* === Gallery container and ajustments === */		

/* clearfix */
.gallery::after {
	content:    ".";
	display:    block;
	height:     0;
	clear:      both;
	visibility: hidden;
}

.gallery-caption { display: none; }	

.gallery .gallery-icon img { margin-bottom: 0.9rem; }

/* border */
.gallery .gallery-icon a img {
	padding: 9px;
	border:  1px solid #E3E3E3;
}

/* === Limit Gallery width === */
	
	@media (min-width: 64rem) {

		/* === Descendants of #main === */

		.gallery { max-width: 64rem; }
	}		
}
