/* === Gallery container and ajustments === */		

/* clearfix */
.gallery::after {
	content:    ".";
	display:    block;
	height:     0;
	clear:      both;
	visibility: hidden;
}

/* --- copy of Stargazer theme with some ajustments -- */

.main .gallery { max-width: 1024px; margin-bottom: 1rem; }

	.gallery-columns-0 { margin: 0 auto; display: table; } /* marreta para alinhar */

	.gallery-item { margin-bottom: 0.5rem; }

			.gallery-icon a img {
				padding: 9px;
				border:  1px solid;
			}

		.gallery-caption { font-size: 0.875rem; }

			.gallery-caption { display: none; }

		@media only screen and ( max-width: 480px ) {

			.gallery-item { float: none; width: 100%; margin: 0 auto; text-align: center; }

			.gallery-icon img { max-width: 100%; }
		}
		
